.dropdown-content {
    list-style: none;
    display: none;
}

li > a {
    color: white;
}

ul:hover .dropdown-content {
    background-color: rgb(0, 34, 107);
    display: block;
}

.menu-container {
    display: block;
}