a {
    color: ;
}

.nav-left {
/*     background-color: rgb(178, 250, 234);*/
    background: linear-gradient(to right, rgb(172, 175, 245), rgb(178, 250, 234), rgb(0, 255, 208), rgb(255, 191, 0), rgb(255, 123, 145));
}

.dropdown {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown > li {
    position: relative;
    display: inline-block;
    
    left: 15%;
}

.drop-button {
    color: rgb(30, 67, 119);
    padding: 16px 32px 16px 0px;
    text-decoration: none;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(215, 215, 215);
    z-index: 1;

    padding: 0px;
}

.dropdown-content li {
    display: block;

    padding: 16px 32px 16px 16px;
}

.dropdown-first:hover .first-content {
    display: block;
}

.dropdown-second:hover .second-content {
    display: block;
}

.dropdown-third:hover .third-content {
    display: block;
}

.dropdown-content a {
    text-decoration: none;
    color: rgb(30, 67, 119);
}

/* KESKITETTY PUDOTUSVALIKKO: */

.nav-centered {
    background: linear-gradient(to right, rgb(172, 175, 245), rgb(178, 250, 234), rgb(0, 255, 208), rgb(255, 191, 0), rgb(255, 123, 145));
    text-align: center;
}

.dropdown-centered {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.dropdown-centered > li {
    display: inline-block;
    position: relative;

}

.drop-button-centered {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    color: rgb(30, 67, 119);
}

.drop-button-centered:hover {
    background-color: rgba(255, 255, 255, 0.453);
}

.dropdown-content-centered {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    padding: 0;
}

.dropdown-content-centered li {
    list-style-type: none;

    padding: 16px 32px;
}

.dropdown-content-centered li:hover {
    background-color: rgba(0, 89, 70, 0.04);
}

.dropdown-content-centered a {
    text-decoration: none;
    color: rgb(30, 67, 119);}

.dropdown-first-centered:hover .first-content-centered {
    display: block;
}

.dropdown-second-centered:hover .second-content-centered {
    display: block;
}

.dropdown-third-centered:hover .third-content-centered {
    display: block;
}

